<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="banner" id="header">
  <div class="container">
<table>
  <tr>
    <th><i class="fa fa-twitter" aria-hidden="true"></i>Home</th>
    <th>About</th>
    <th id="lang">Language: English</th>
  </tr>
</table>
</div>
</div>



<div class="container" id="front">
  <div class="col-lg-5 col-lg-offset-1">
    <h1>Welcome to Twitter.</h1>
    <br>
    <p>Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</p>
</div>
</div>

<div class="clearfix">
<div class="col-lg-6" id="login">
  <form action="/action_page.php">
    <div class="container">

      <input type="text" placeholder="Phone, email or username" name="uname" required>
      <br>
      <input type="password" placeholder="Password" name="psw" required>

      <button type="submit">Login</button>
      <br>
      <input type="checkbox" checked="checked"> Remember me
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

</div>

<div class="col-lg-6" id="signup">
  <h2>New to Twitter? Sign up</h2>

<form action="/action_page.php">
  <div class="container">

    <input type="text" placeholder="Full name" name="name" required>
    <br>
    <input type="password" placeholder="Email" name="email" required>
    <br>
    <input type="password" placeholder="Password" name="psw" required>

    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign up for Twitter</button>
    </div>
  </div>
</form>
</div>
</div>


<div class="container">
<%= link_to 'Rails Tutorial Work', controller: 'articles' %>
</div>
