<div class="container">

<h1 class="text-center" id="wel">Hello, Rails!</h1>

<p>Ruby on Rails, or simply Rails, is a server-side web application framework written in Ruby under the MIT License.
</p>

<%= link_to 'Rails Tutorial Work', controller: 'articles' %>
</div>
