/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
  font-family: 'Montserrat', serif;
}

body {
  font-family: 'Montserrat', serif;
  width: 100%;
}

#login {
  float: right;
  text-align: left;
  clear: both;
}
#front {
  display: block;
}
#signup {
  float:right;
  text-align: left;
  clear: both;
}

#lang {
  clear: both;
  float: right;
  padding-left: 768px;
}


#title {
  font-family: 'Montserrat', serif;
  position: relative;
  padding: 10px;
  font-size: 60px;
  margin: 10px;
  color: #fff;
}

#table {
  padding-left: 10px;
}

#header {
  padding: 20px;
  width: 100%;
}

#header-1 {
  background-image: url(http://maxpixel.freegreatpicture.com/static/photo/1x/Coffe-Time-Work-Coffee-Break-Workspace-Working-791434.jpg);
  padding: 150px;
  background-position: center center;
  background-size: cover;
  text-align: center;
  z-index: -1;
}

table {
  padding-left: 10px;
}

td {
  padding: 10px;
  margin: 5px;
}

th {
  padding: 10px;
  margin: 5px;
}

tr {
  padding: 10px;
  margin: 5px;
}

h2 {
  font-size: 20px;
  font-family: 'Monserrat', serif;
  padding-left: 50px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #BFB9B9;
}
